```gitignore
# Build artifacts
dist/
build/
*.min.js
*.min.css
*.bundle.js

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs and temp files
*.log
*.tmp

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
htmlcov/
.coverage

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo
*.rej
*~
.pytest_cache/
.mypy_cache/
.hypothesis/

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
jspm_packages/
*.tsbuildinfo
.nyc_output
coverage/
.nyc_output/
.coverage
lib-cov
*.lcov
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo

# Java
*.class
*.jar
*.war
*.ear
*.tar.gz
target/
.gradle/
build/
!src/main/resources/static/
!src/main/resources/public/

# C/C++
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.out

# Go
*.o
*.so
*.exe
*.test
*.prof
vendor/

# Ruby
*.gem
*.rbc
.bundle
.config
.yardoc
_yardoc
doc/
.rbx
secret_token.rb
Gemfile.lock
.sass-cache
capybara-*.html
.rake
.pkg
test/tmp
test/version_tmp
tmp/
*.dump
*.orig
*.rej
*.swo
*.swp
.vagrant
*.gemspec
.rspec
Guardfile
.Rakefile
README.md
Changelog
TODO
*.txt
.DS_Store
coverage/
Coverfile
*.gcov
lib/bundler/man/
# For ruby on rails projects
config/database.yml
db/schema.rb
.rvmrc
.secret
.key
.key~
.env
.env.local
.env.dev
.env.test
.env.production
.env.staging
*.env
*.env.*
.env.*
!.env.example
!.env_sample
!.env.sample

# Rust
target/
Cargo.lock
*.rs.bk

# PHP
vendor/
composer.phar
composer.lock
.php_cs.cache

# C#
*.sln
*.csproj.user
*.pidb
*.userprefs
*.local
*.user
*.aps
*.ncb
*.obj/
*.bin/
*.dll
*.lib
*.suo
*.userosscache
*.sln.docstates
*.userprefs
MonoBleedingEdge/

# Scala
lib_managed/
src_managed/
target/
boot.properties
.DS_Store
._*
*~
.scala_history
work/
.DS_Store
.stFolder
.stversions
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.cache
.project
.classpath
.settings/
*.tmproj
nbproject/
*.fdb_lock
*.swp
*~

# Clojure
.classes
.liberal
checkouts/
resources/public/js/compiled/
target/
test-resources/public/js/compiled/
*.cljx
*.lock
.DS_Store
.clj-kondo/

# Lua
*.lua
*.luac
*.so

# Haskell
dist/
dist-newstyle/
cabal-dev/
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.cabal/
.hindent/
.hlint.yaml
.hoogle
.hpack/
.stylish-haskell.yaml

# Elixir
ebin/
deps/
.exenv-version
.erlang.cookie
.plt
.compile.elixir
elixir_ls/
cover/
erl_crash.dump
mix.lock
*.ez
*.beam
*.plt
*.hi
*.dump
*.so
*.o
*.nif
*.so
*.dll
*.dylib
*.tar.gz
*.tar
*.zip
*.gz
*.bz2
*.xz
*.7z
*.rar
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.zst
*.lzma
*.z
*.tar.Z
*.tar.lz
*.tar.lzma
*.tar.z
*.tar.lz4
*.tar.lzh
*.tar.cab
*.tar.arj
*.tar.rpm
*.tar.deb
*.tar.Z
*.tar.lz
*.tar.lzma
*.tar.z
*.tar.lz4
*.tar.lzh
*.tar.cab
*.tar.arj
*.tar.rpm
*.tar.deb

# Julia
.julia/
.julia/config/
.julia/logs/
.julia/packages/
.julia/environments/
.julia/artifacts/
.julia/registries/
.julia/scratchspaces/
.julia/repl/
.julia/conda/
.julia/downloads/
.julia/gpg/
.julia/hls/
.julia/jupyter/
.julia/pip/
.julia/python/
.julia/ssh/
.julia/terminal/
.julia/texmf/
.julia/tools/
.julia/vim/
.julia/wakatime/
.julia/wakatime-cli/
.julia/yarn/
.julia/zsh/
.julia/cache/
.julia/caches/
.julia/compiler/
.julia/compilers/
.julia/languageserver/
.julia/languageservers/
.julia/lsp/
.julia/lsp-server/
.julia/lsp-servers/
.julia/server/
.julia/servers/
.julia/daemon/
.julia/daemons/
.julia/workers/
.julia/worker/
.julia/build/
.julia/builds/
.julia/dist/
.julia/dists/
.julia/install/
.julia/installs/
.julia/local/
.julia/locals/
.julia/global/
.julia/globals/
.julia/temp/
.julia/temps/
.julia/tmp/
.julia/tmps/
.julia/var/
.julia/vars/
.julia/data/
.julia/datas/
.julia/db/
.julia/dbs/
.julia/log/
.julia/logs/
.julia/run/
.julia/runs/
.julia/spool/
.julia/spools/
.julia/mqueue/
.julia/mqueues/
.julia/lock/
.julia/locks/
.julia/pid/
.julia/pids/
.julia/socket/
.julia/sockets/
.julia/fifo/
.julia/fifos/
.julia/pipe/
.julia/pipes/
.julia/shm/
.julia/shms/
.julia/dev/
.julia/devs/
.julia/sys/
.julia/syscalls/
.julia/proc/
.julia/procs/
.julia/mem/
.julia/mems/
.julia/cpu/
.julia/cpus/
.julia/network/
.julia/networks/
.julia/io/
.julia/ios/
.julia/fs/
.julia/fss/
.julia/disk/
.julia/disks/
.julia/storage/
.julia/storages/
.julia/volume/
.julia/volumes/
.julia/partition/
.julia/partitions/
.julia/filesystem/
.julia/filesystems/
.julia/file/
.julia/files/
.julia/dir/
.julia/dirs/
.julia/path/
.julia/paths/
.julia/url/
.julia/urls/
.julia/uri/
.julia/uris/
.julia/http/
.julia/https/
.julia/tcp/
.julia/udp/
.julia/ip/
.julia/ipv4/
.julia/ipv6/
.julia/dns/
.julia/dhcp/
.julia/ftp/
.julia/smtp/
.julia/pop3/
.julia/imap/
.julia/ssh/
.julia/telnet/
.julia/snmp/
.julia/nfs/
.julia/smb/
.julia/webdav/
.julia/afs/
.julia/rpc/
.julia/rmi/
.julia/corba/
.julia/orb/
.julia/iiop/
.julia/jmx/
.julia/jndi/
.julia/jdbc/
.julia/odbc/
.julia/ado/
.julia/ole/
.julia/com/
.julia/dcom/
.julia/corba/
.julia/orb/
.julia/iiop/
.julia/jmx/
.julia/jndi/
.julia/jdbc/
.julia/odbc/
.julia/ado/
.julia/ole/
.julia/com/
.julia/dcom/
.julia/activemq/
.julia/rabbitmq/
.julia/kafka/
.julia/redis/
.julia/memcached/
.julia/mongodb/
.julia/mysql/
.julia/postgresql/
.julia/sqlite/
.julia/oracle/
.julia/db2/
.julia/sybase/
.julia/informix/
.julia/interbase/
.julia/firebird/
.julia/teradata/
.julia/netezza/
.julia/vertica/
.julia/redshift/
.julia/snowflake/
.julia/bigquery/
.julia/cassandra/
.julia/hbase/
.julia/couchbase/
.julia/elasticsearch/
.julia/solr/
.julia/lucene/
.julia/hive/
.julia/hadoop/
.julia/spark/
.julia/flink/
.julia/storm/
.julia/kinesis/
.julia/sqs/
.julia/sns/
.julia/dynamodb/
.julia/s3/
.julia/gcs/
.julia/azure/
.julia/aws/
.julia/gcp/
.julia/oci/
.julia/openstack/
.julia/docker/
.julia/kubernetes/
.julia/openshift/
.julia/swarm/
.julia/mesos/
.julia/chronos/
.julia/marathon/
.julia/nomad/
.julia/consul/
.julia/vault/
.julia/terraform/
.julia/puppet/
.julia/chef/
.julia/ansible/
.julia/salt/
.julia/bosh/
.julia/concourse/
.julia/gitlab/
.julia/github/
.julia/bitbucket/
.julia/jira/
.julia/confluence/
.julia/slack/
.julia/teams/
.julia/discord/
.julia/zoom/
.julia/teamspeak/
.julia/mumble/
.julia/vlc/
.julia/ffmpeg/
.julia/opencv/
.julia/tensorflow/
.julia/pytorch/
.julia/scikit-learn/
.julia/xgboost/
.julia/lightgbm/
.julia/catboost/
.julia/fastai/
.julia/keras/
.julia/onnx/
.julia/tflite/
.julia/coreml/
.julia/torchscript/
.julia/jax/
.julia/flax/
.julia/optax/
.julia/rlax/
.julia/dm-haiku/
.julia/brax/
.julia/gym/
.julia/stable-baselines/
.julia/rl/
.julia/ml/
.julia/ai/
.julia/dl/
.julia/nlp/
.julia/cv/
.julia/vision/
.julia/audio/
.julia/speech/
.julia/text/
.julia/data/
.julia/analysis/
.julia/stats/
.julia/math/
.julia/optim/
.julia/geometry/
.julia/graphics/
.julia/plot/
.julia/chart/
.julia/graph/
.julia/network/
.julia/topology/
.julia/algebra/
.julia/calculus/
.julia/probability/
.julia/random/
.julia/linear/
.julia/numeric/
.julia/number/
.julia/function/
.julia/algorithm/
.julia/structure/
.julia/type/
.julia/class/
.julia/object/
.julia/module/
.julia/package/
.julia/library/
.julia/framework/
.julia/runtime/
.julia/compiler/
.julia/interpreter/
.julia/vm/
.julia/jit/
.julia/aot/
.julia/bytecode/
.julia/assembly/
.julia/native/
.julia/llvm/
.julia/clang/
.julia/gcc/
.julia/mingw/
.julia/msvc/
.julia/cl/
.julia/link/
.julia/ar/
.julia/ranlib/
.julia/strip/
.julia/objcopy/
.julia/objdump/
.julia/nm/
.julia/readelf/
.julia/size/
.julia/strings/
.julia/windres/
.julia/rc/
.julia/yasm/
.julia/nasm/
.julia/fasm/
.julia/tasm/
.julia/masm/
.julia/keil/
.julia/iar/
.julia/gcc-arm/
.julia/clang-cl/
.julia/icl/
.julia/ifort/
.julia/pgcc/
.julia/pgf90/
.julia/xlc/
.julia/xlf/
.julia/suncc/
.julia/suncpp/
.julia/cc/
.julia/c++/
.julia/gcc/
.julia/g++/
.julia/icc/
.julia/icpc/
.julia/ifort/
.julia/pgcc/
.julia/pgf90/
.julia/xlc/
.julia/xlf/
.julia/suncc/
.julia/suncpp/
.julia/cc/
.julia/c++/
.julia/gcc/
.julia/g++/
.julia/icc/
.julia/icpc/
.julia/ifort/
.julia/pgcc/
.julia/pgf90/
.julia/xlc/
.julia/xlf/
.julia/suncc/
.julia/suncpp/
.julia/cc/
.julia/c++/
.julia/gcc/
.julia/g++/
.julia/icc/
.julia/icpc/
.julia/ifort/
.julia/pgcc/
.julia/pgf90/
.julia/xlc/
.julia/xlf/
.julia/suncc/
.julia/suncpp/
.julia/cc/
.julia/c++/
.julia/gcc/
.julia/g++/
.julia/icc/
.julia/icpc/
.julia/ifort/
.julia/pgcc/
.julia/pgf90/
.julia/xlc/
.julia/xlf/
.julia/suncc/
.julia/suncpp/
.julia/cc/
.julia/c++/
.julia/gcc/
.julia/g++/
.julia/icc/
.julia/icpc/
.julia/ifort/
.julia/pgcc/
.julia/pgf90/
.julia/xlc/
.julia/xlf/
.julia/suncc/
.julia/suncpp/
.julia/cc/
.julia/c++/
.julia/gcc/
.julia/g++/
.julia/icc/
.julia/icpc/
.julia/ifort/
.julia/pgcc/
.julia/pgf90/
.julia/xlc/
.julia/xlf/
.julia/suncc/
.julia/suncpp/
.julia/cc/
.julia/c++/
.julia/gcc/
.julia/g++/
.julia/icc/
.julia/icpc/
.julia/ifort/
.julia/pgcc/
.julia/pgf90/
.julia/xlc/
.julia/xlf/
.julia/suncc/
.julia/suncpp/
.julia/cc/
.julia/c++/
.julia/gcc/
.julia/g++/
.julia/icc/
.julia/icpc/
.julia/ifort/
.julia/pgcc/
.julia/pgf90/
.julia/xlc/
.julia/xlf/
.julia/suncc/
.julia/suncpp/
.julia/cc/
.julia/c++/
.julia/gcc/
.julia/g++/
.julia/icc/
.julia/icpc......
```